<html>
  <head>
    <link rel="stylesheet" href="static/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="static/css/typeahead.css" type="text/css" />
    <link rel="stylesheet" href="static/css/tablecloth.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.metadata.js"></script>
    <script src="static/js/jquery.tablesorter.min.js"></script>
    <script src="static/js/jquery.tablecloth.js"></script>
    <script src="static/js/typeahead.bundle.min.js"></script>
    <script src="static/js/typeahead.jquery.min.js"></script>
    <script src="static/js/bloodhound.min.js"></script>
  </head>
  <body>
    {% include "header.html" %}
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
            </th>
            <th>
              Name
            </th>
            <th>
              Team
            </th>
            <th>
              Percent
            </th>
            <th>
              RPI
            </th>
            <th>
              Wing rating
            </th>
            <th>
              4th Quarter + OT
            </th>
            <th>
              Clutch
            </th>
          </tr>
        </thead>
        <tbody>
        {% for player in players %}
          <tr>
            <td>
            </td>
            <td class="player-row">
              <input type="hidden" name="link" value={{ player.id }}>
              {{ player.name }}
            </td>
            <td class="team-row">
              <input type="hidden" name="link" value={{ team.id }}>
              {{ player.team }}
            </td>
            <td>
              {{ player.percent|floatformat:2 }}
            </td>
            <td>
              {{ player.RPI }}
            </td>
            <td>
              {{ player.wing|floatformat:4 }}
            </td>
            <td>
              {{ player.late_percent|floatformat:2 }}
            </td>
            <td>
              {{ player.clutch|floatformat:2 }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div> <!-- container -->

    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $("table").tablecloth({
          theme: "stats",
          striped: true,
          condensed: true
        });
        $("table").tablesorter({
          tableClass: "tablesorter",
        });
        var table = $("table");
        table.bind("sortEnd",function() { 
            var i = 1;
            table.find("tr:gt(0)").each(function(){
                $(this).find("td:eq(0)").text(i);
                i++;
            });
        }); 
        var searchResults = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          remote: '/fogolytics/search?query=%QUERY'
        });
        searchResults.initialize();
        $("#search").typeahead(null, {
          name: 'search',
          displayKey: 'value',
          source: searchResults.ttAdapter(),
        })
        .on('typeahead:selected', onSelected)
        .on('typeahead:autoCompeleted', onSelected);

        function onSelected($e, datum) {
          window.location.href = datum['link'];
        }

        // Make rows be links
        $(".player-row").click(function() {
          // Get the id of the player from the hidden input field
          var id = $( this ).find("input").attr("value");
          window.location = ("/fogolytics/player/" + id);
        });
        $(".team-row").click(function() {
          // Get the id of the player from the hidden input field
          var id = $( this ).find("input").attr("value");
          //window.location = ("/fogolytics/team/" + id);
        });
      });
    </script>
  </body>
</html>
