<html>
  <head>
  <link rel="stylesheet" href="static/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="static/css/typeahead.css" type="text/css" />
  <link rel="stylesheet" href="static/css/tablecloth.css" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/jquery.metadata.js"></script>
  <script src="static/js/jquery.tablesorter.min.js"></script>
  <script src="static/js/jquery.tablecloth.js"></script>
  <script src="static/js/typeahead.bundle.min.js"></script>
  <script src="static/js/typeahead.jquery.min.js"></script>
  <script src="static/js/bloodhound.min.js"></script>
  </head>
  <body>
    {% include "header.html" %}
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th>
              Team
            </th>
            <th>
              Percent
            </th>
          </tr>
        </thead>
        <tbody>
        {% for player in players %}
          <tr>
            <td>
              {{ player.name }}
            </td>
            <td>
              {{ player.team }}
            </td>
            <td>
              {{ player.percent }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div> <!-- container -->

    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $("table").tablecloth({
          theme: "stats",
          striped: true,
          condensed: true
        });
        $("table").tablesorter({
          tableClass: "tablesorter",
          });
        var searchResults = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          remote: '/fogolytics/search?query=%QUERY'
        });
        searchResults.initialize();
        $("#search").typeahead(null, {
          name: 'search',
          displayKey: 'value',
          source: searchResults.ttAdapter()
        });
      });
    </script>
  </body>
</html>
