<html>
  <head>
  <link rel="stylesheet" href="static/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="static/css/typeahead.css" type="text/css" />
  <link rel="stylesheet" href="static/css/tablecloth.css" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/jquery.metadata.js"></script>
  <script src="static/js/jquery.tablesorter.min.js"></script>
  <script src="static/js/jquery.tablecloth.js"></script>
  <script src="static/js/typeahead.bundle.min.js"></script>
  <script src="static/js/typeahead.jquery.min.js"></script>
  <script src="static/js/bloodhound.min.js"></script>
  </head>
  <body>
    <h1>
      GAME
    </h1>
    <ul>
      <li>
        {{ game.away }} vs. {{ game.home }}
      </li>
      <li>
        {{ game.away_score }} - {{ game.home_score }}
      </li>
      <li>
        Date: {{ game.date }}
      </li>
      <li>
        Time: {{ game.time }}
      </li>
      <li>
        Location: {{ game.site }}
      </li>
    </ul>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Quarter
          </th>
          <th>
            Time
          </th>
          <th>
            {{ game.away }}
          </th>
          <th>
            {{ game.home }}
          </th>
          <th>
            Winner
          </th>
        </tr>
      </thead>
      <tbody>
      {% for faceoff in faceoffs %}
        <tr>
          <td>
            {{ faceoff.quarter }}
          </td>
          <td>
            {{ faceoff.time }}
          </td>
          <td>
            {{ faceoff.away }}
          </td>
          <td>
            {{ faceoff.home }}
          </td>
          <td>
            {% if faceoff.winner %}
              {{ faceoff.home }}
            {% else %}
              {{ faceoff.away }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $("table").tablecloth({
        theme: "stats",
        striped: true,
        sortable: false,
        condensed: true
      });
      var searchResults = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: '/fogolytics/search?query=%QUERY'
      });
      searchResults.initialize();
      $("#search").typeahead(null, {
        name: 'search',
        displayKey: 'value',
        source: searchResults.ttAdapter(),
      })
      .on('typeahead:selected', onSelected)
      .on('typeahead:autoCompeleted', onSelected);

      function onSelected($e, datum) {
        window.location.href = datum['link'];
      }
    });

  </script>
  </body>
</html>
