<html>
  <head>
    <link rel="stylesheet" href="/fogolytics/static/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/fogolytics/static/css/typeahead.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/fogolytics/static/js/bootstrap.min.js"></script>
    <script src="/fogolytics/static/js/jquery.metadata.js"></script>
    <script src="/fogolytics/static/js/typeahead.bundle.min.js"></script>
    <script src="/fogolytics/static/js/typeahead.jquery.min.js"></script>
    <script src="/fogolytics/static/js/bloodhound.min.js"></script>
  </head>
  <body>
    {% include "header.html" %}
    <div class="container">
      HOME PAGE
    </div> <!-- container -->

    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        var searchResults = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          remote: '/fogolytics/search?query=%QUERY'
        });
        searchResults.initialize();
        $("#search").typeahead(null, {
          name: 'search',
          displayKey: 'value',
          source: searchResults.ttAdapter(),
        })
        .on('typeahead:selected', onSelected)
        .on('typeahead:autoCompeleted', onSelected);

        function onSelected($e, datum) {
          window.location.href = datum['link'];
        }
      });
    </script>
  </body>
</html>
