<html>
  <head>
    <link rel="stylesheet" href="/fogolytics/static/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/fogolytics/static/css/typeahead.css" type="text/css" />
    <link rel="stylesheet" href="/fogolytics/static/css/tablecloth.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/fogolytics/static/js/bootstrap.min.js"></script>
    <script src="/fogolytics/static/js/jquery.metadata.js"></script>
    <script src="/fogolytics/static/js/jquery.tablecloth.js"></script>
    <script src="/fogolytics/static/js/typeahead.bundle.min.js"></script>
    <script src="/fogolytics/static/js/typeahead.jquery.min.js"></script>
    <script src="/fogolytics/static/js/bloodhound.min.js"></script>
  </head>
  <body>
    {% include "header.html" %}
    <div class="container">
      <div class="col-xs-3">
        <img width="200" src={{ team.logo }} />
      </div>
      <div class="col-xs-5">
        <h1>
          <b>
            {{ player.name }}
          </b>
        </h1>
        <div class="list-group">
          <a href="#" class="list-group-item">Team: {{ player.team }}</a>
          <a href="/fogolytics/conference/{{ team.conference }}" 
              class="list-group-item">Conference: {{ team.conference }}</a>
          <a href="#" class="list-group-item">Faceoffs: {{ percent }}%</a>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Date
            </th>
            <th>
              Opponent
            </th>
            <th>
              Wins
            </th>
            <th>
              Taken
            </th>
            <th>
              Percent
            </th>
          </tr>
        </thead>
        <tbody>
        {% for game in games %}
          <tr class="game-row">
            <input type="hidden" name="link" value={{ game.id }}>
            <td>
              {{ game.date }}
            </td>
            <td>
              {% if game.road %}@{% endif %}
              {{ game.opponent }}
            </td>
            <td>
              {{ game.wins }}
            </td>
            <td>
              {{ game.num_taken }}
            </td>
            <td>
              {{ game.percent }}
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
              {{ wins }}
            </td>
            <td>
              {{ num_taken }}
            </td>
            <td>
              {{ percent }}
            </td>
          </tr>
        </tbody>
      </table>
    </div> <!-- container -->


    <div class="modal fade" id="gameModal" tabIndex="-1" role="dialog" 
        aria-labelledby="gameModal" aria-hidden="true"> <!-- modal -->
      <div class="modal-dialog"> <!-- modal-dialog -->
        <div class="modal-content"> <!-- modal-content -->
          <div class="modal-header"> <!-- modal-header -->
            <button type="button" class="close" data-dismiss="modal"
              aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="gameModalLabel"> Game data</h4>
          </div> <!-- modal-header -->
          <div class="modal-body"> <!-- modal-body -->
          </div> <!-- modal-body -->
        </div> <!-- modal-content -->
      </div> <!-- modal-dialog -->
    <div> <!-- modal -->


    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        // Make the table look pretty
        $("table").tablecloth({
          theme: "stats",
          striped: true,
          condensed: true
        });

        // Make the typeahead in the header work
        var searchResults = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          remote: '/fogolytics/search?query=%QUERY'
        });
        searchResults.initialize();
        $("#search").typeahead(null, {
          name: 'search',
          displayKey: 'value',
          source: searchResults.ttAdapter(),
        })
          .on('typeahead:selected', onSelected)
          .on('typeahead:autoCompeleted', onSelected);

        function onSelected($e, datum) {
          window.location.href = datum['link'];
        }

        // Make rows pop up the the game modal
        $(".game-row").click(function() {
          // Get the id of the game from the hidden input field
          var id = $( this ).find("input").attr("value");

          $(".modal-body").load("/fogolytics/game/" + id);

          // Displays the modal
          $("#gameModal").modal();
        });
      });
    </script>
  </body>
</html>
