<html>
  <head>
  <link rel="stylesheet" href="/fantasy/fantasy/static/assets/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/fantasy/fantasy/static/assets/css/tablecloth.css" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/fantasy/fantasy/static/assets/js/bootstrap.min.js"></script>
  <script src="/fantasy/fantasy/static/assets/js/jquery.metadata.js"></script>
  <script src="/fantasy/fantasy/static/assets/js/jquery.tablecloth.js"></script>
  </head>
  <body>
    {% include "header.html" %}
    <div class="container">
      <div class="row">
        <div class="col-xs-3">
          <img width="200" src={{ team.logo }} />
        </div>
        <div class="col-xs-5">
          <h1>
            <b>
              {{ player.name }}
            </b>
          </h1>
          <div class="list-group">
            <a href="#" class="list-group-item">Team: {{ player.team }}</a>
            <a href="#" class="list-group-item">Conference: {{ team.conference }}</a>
            <a href="#" class="list-group-item">Faceoffs: {{ percent }}%</a>
          </div>
        </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Date
            </th>
            <th>
              Opponent
            </th>
            <th>
              Wins
            </th>
            <th>
              Taken
            </th>
            <th>
              Percent
            </th>
          </tr>
        </thead>
        <tbody>
        {% for game in games %}
          <tr>
            <td>
              {{ game.date }}
            </td>
            <td>
              {{ game.opponent }}
            </td>
            <td>
              {{ game.wins }}
            </td>
            <td>
              {{ game.num_taken }}
            </td>
            <td>
              {{ game.percent }}
            </td>
          </tr>
        {% endfor %}
          <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
                {{ wins }}
            </td>
            <td>
                {{ num_taken }}
            </td>
            <td>
                {{ percent }}
            </td>
          </tr>
        </tbody>
      </table>
    </div> <!-- container -->

    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $("table").tablecloth({
          theme: "stats",
          striped: true,
          condensed: true
        });
      });
    </script>
  </body>
</html>
